.navbar {
  height: 65px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.responsive-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
  /* border: 1px solid red; */
}

.header-logo {
  width: 100px;
  height: 20px;
  cursor: pointer;
}
.nav-items-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav-item-text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.down-arrow {
  width: 10px;
  height: 6px;
}

.right-content-navbar {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;
}

.search-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}
.search-image {
  width: 22px;
  height: 22px;
}
.login-button {
  font-family: "Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.join-now-button {
  height: 36px;
  width: 136px;
  background-image: linear-gradient(to left, #0048ff 4.63%, #0096ff 100%);
  border: none;
  border-radius: 52px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 767px) {
  .login-button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .nav-items-list {
    display: none;
  }
  .join-now-button {
    display: none;
  }
}
.hamburger-button-small {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.hamburger-icon {
  font-size: 26px;
}
@media screen and (min-width: 768px) {
  .hamburger-button-small {
    display: none;
  }
}
.nav-menu-sm {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  padding-top: 25px;
}
.active {
  right: 0;
  transition: 350ms;
}
.nav-menu-list-sm {
  margin: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-top: 1px solid #bebebe;
}
.nav-item-sm {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 16px 10%;
  border-bottom: 1px solid #bebebe;
}
.navbar-toggle-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
  align-self: flex-end;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.navbar-cross-icon {
  font-size: 26px;
}
.sm-login-btn-contianer {
  width: 85%;
  margin: auto;
}
.login-button-sm {
  font-family: "Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

* {
  margin: 0;
}
