.plan-item {
  padding: 16px;
  padding-top: 0;
  border: 2px solid #bebebe;
  border-radius: 4px;
  cursor: pointer;
}
.disabled-plan-item {
  padding: 16px;
  padding-top: 0;
  border: 2px solid #bebebe;
  border-radius: 4px;
  cursor: pointer;

  background: #e7e7e7;
}
.plan-item-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.selected-plan {
  background: #d7eddd;
  border: 2px solid #47ba68;
}
.plan-status-image {
  /* width: 30px; */
  height: 30px;
  padding-top: 2px;
}
.plan-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3c4852;
}
.prices-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  margin-left: auto;

  /* width: 100%; */
  /* border: 1px solid red; */
}
.total-price-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #3c4852;
}
.total-price {
  font-weight: 600;
  font-size: 16px;
}
.per-month-price-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #bebebe;
}
.per-month-price {
  font-weight: 400;
  font-size: 12px;
  color: #3c4852;
}

.disabled-plan-name {
  color: #bebebe;
}

.offer-expired-tag {
  width: 121px;
  height: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  color: #ffffff;
  background: #f77171;
  border-radius: 0px 0px 4px 4px;
  margin-left: 10%;
}
.reccomended-plan-tag {
  width: 121px;
  height: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  color: #ffffff;

  background: #47ba68;
  border-radius: 0px 0px 4px 4px;
  margin-left: 10%;
}

@media screen and (max-width: 767px){
  .plan-status-image{
    height: 25px;
  }
}